<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="design.parent.overall.dao.RolesDao">
    <select id="getAllRoles" resultType="design.parent.overall.entity.Roles">
        select role_id,role_remark from roles;
    </select>
    <select id="findRolesByRoleId" resultType="design.parent.overall.entity.Roles" parameterType="String">
        select role_id,role_remark from roles
        where role_id=#{roleId}
    </select>
    <insert id="addRoles" parameterType="design.parent.overall.entity.Roles">
        insert into roles values(#{roleId},#{roleRemark})
    </insert>
    <delete id="delRoles" parameterType="String">
        delete from roles where role_id=#{roleId}
    </delete>
</mapper>